EXPO_PUBLIC_APP_VARIANT=global
EXPO_PUBLIC_LYNK_CHANNEL=global
EXPO_PUBLIC_API_URL=https://api.lynkapp.com/api/v1
EXPO_PUBLIC_WS_URL=wss://api.lynkapp.com
EXPO_PUBLIC_ENABLE_EMAIL_AUTH=true
EXPO_PUBLIC_ENABLE_PHONE_AUTH=true
EXPO_PUBLIC_ENABLE_PI_AUTH=true
EXPO_PUBLIC_ENABLE_PAWAPAY=true
EXPO_PUBLIC_ENABLE_STRIPE=true
EXPO_PUBLIC_ENABLE_BINANCE_PAY=true
EXPO_PUBLIC_ENABLE_USDT=true
