EXPO_PUBLIC_APP_VARIANT=pi
EXPO_PUBLIC_LYNK_CHANNEL=pi
EXPO_PUBLIC_API_URL=https://api.lynkapp.com/api/v1
EXPO_PUBLIC_WS_URL=wss://api.lynkapp.com
EXPO_PUBLIC_PI_SANDBOX=false
EXPO_PUBLIC_PI_APP_NAME=Lynk
